<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sinka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="https://assets.epicurious.com/photos/663552459a068917f23d1e92/1:1/w_1920,c_limit/cornell-bbq-chicken_RECIPE_042524_5318_VOG_final.jpg" alt="">
          <ion-label>
            <div class="center">
              น้ำโค้ก <br>
              ราคา 15 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

    <div class="bg">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="https://assets.epicurious.com/photos/663552459a068917f23d1e92/1:1/w_1920,c_limit/cornell-bbq-chicken_RECIPE_042524_5318_VOG_final.jpg" alt="">
            <ion-label>
              <div class="center">
                น้ำโค้ก <br>
                ราคา 15 บาท <br>
                <ion-button>
                  <ion-icon name="bag-handle-outline"></ion-icon>
                  สั่งซื้อ
                </ion-button>
              </div>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    

    </ion-content>

